# EmailJS Configuration
# Get your credentials from https://emailjs.com
# These should be added to your Vercel project environment variables

EMAILJS_SERVICE_ID=your_service_id_here
EMAILJS_TEMPLATE_ID=your_template_id_here
EMAILJS_PUBLIC_KEY=your_public_key_here
